<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

    <body>
        <%- include('layouts/navbar'); -%>
            <main id="wrapper">
                <div class="container-fluid justify-content-center">
                    <h3>G Test</h3>
                    <form id="gtest" action="/g" method="get">
                        <input type="search" name="license" id="license" placeholder="License Number">
                        <button type="submit" id="getLicenseData" value="submit" class="btn btn-primary">Fetch</button>
                    </form>
                </div>
            </main>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
    </body>

</html>